<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="team3.DBSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <team3.DBSettings>
            <setting name="dbUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>lkk19940326</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>team4</value>
            </setting>
            <setting name="dbHost" serializeAs="String">
                <value>localhost</value>
            </setting>
        </team3.DBSettings>
    </applicationSettings>
</configuration>